<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.skyrock.telemedico">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/telemedlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/telemedlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.OrgUnitsActivity"></activity>
        <activity android:name=".ui.ProgramStagesActivity" />
        <activity android:name=".ui.ProgramsActivity" />
        <activity android:name=".ui.DataElementsActivity" />
        <activity android:name=".ui.EventsActivity" />
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>